.library-song-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: rgba(grey, 0.3);
  }

  &:hover {
    background-color: rgba(lightskyblue, 0.5);
  }

  > img {
    width: 10rem;
    margin-right: 1rem;
  }
}
