.song-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;

  img {
    width: 30%;
    max-width: 40rem;
    border-radius: 50%;
    box-shadow: 0 0 0.7rem 0.01rem rgba(0, 0, 0, 0.384);
    pointer-events: none;
  }

  > h2 {
    padding: 3rem 1rem 1rem 1rem;
    width: 35vh;
    text-align: center;
    font-size: 4rem;
  }

  > h3 {
    padding: 1rem;
    width: 35vh;
    text-align: center;
    font-size: 2.5rem;
  }

  @media screen and (max-width: 900px) {
    img {
      width: 60%;
      margin: 0 auto;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-height: 900px) {
    padding-top: 0;

    height: 50vh;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;

    img {
      order: 1;
      width: 20%;
      margin: 0 3rem;
    }

    h2 {
      order: 0;
      padding: 0;

      @media screen and (max-height: 500px) {
        font-size: 2.5rem;
      }
    }

    h3 {
      order: 2;

      @media screen and (max-height: 500px) {
        font-size: 1.5rem;
      }
    }
  }
}
