.song-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 30%;
    max-width: 40rem;
    border-radius: 50%;
    box-shadow: 0 0 0.7rem 0.01rem rgba(0, 0, 0, 0.384);
    pointer-events: none;

    @media screen and (max-width: 900px) {
      width: 60%;
      margin: 0 auto;
    }
  }

  > h2 {
    padding: 3rem 1rem 1rem 1rem;
  }

  > h3 {
    padding: 1rem;
  }
}
