.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h1 {
    color: black;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    margin-left: 1rem;
  }

  > .library-button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.3s;

    color: black;
    font-size: 3rem;
    font-family: 'Poppins';
    padding: 0 0.5rem;
    margin: 1.5rem 2rem;
    text-transform: capitalize;
    border: 3px solid black;

    @media screen and (max-width: 600px) {
      font-size: 2.5rem;
    }

    &.invisible {
      opacity: 0;
    }

    &.visible {
      opacity: 1;
    }
  }
}
